<div class="container">
  <header>Let's Plays</header>

  <main></main>

  <aside>
    <div class="divinos">
      <img src="../assets/img/OSM9.gif" class="fire" />
      <img src="../assets/img/FKeX.gif" class="ice" />
      <img src="../assets/img/9OiJ.gif" class="thunder" />
    </div>

    <!---- botões para escolha dos pokemon-->

    <div class="pokes">
      <div class="poke">
        <button onclick="pokeAdd('poke1')">
          <img src="assets/img/poke-transp-animat.gif" /></button
        ><br /><br /><button onclick="pokeRemove('poke1')">
          <img src="assets/img/icon-cancel.png" />
        </button>
      </div>
      <div class="poke">
        <button onclick="pokeAdd('poke2')">
          <img src="assets/img/poke-transp-animat.gif" /></button
        ><br /><br /><button onclick="pokeRemove('poke2')">
          <img src="assets/img/icon-cancel.png" />
        </button>
      </div>
      <div class="poke">
        <button onclick="pokeAdd('poke3')">
          <img src="assets/img/poke-transp-animat.gif" /></button
        ><br /><br /><button onclick="pokeRemove('poke3')">
          <img src="assets/img/icon-cancel.png" />
        </button>
      </div>
      <div class="poke">
        <button onclick="pokeAdd('poke4')">
          <img src="assets/img/poke-transp-animat.gif" /></button
        ><br /><br /><button onclick="pokeRemove('poke4')">
          <img src="assets/img/icon-cancel.png" />
        </button>
      </div>
      <div class="poke">
        <button onclick="pokeAdd('poke5')">
          <img src="assets/img/poke-transp-animat.gif" /></button
        ><br /><br /><button onclick="pokeRemove('poke5')">
          <img src="assets/img/icon-cancel.png" />
        </button>
      </div>
    </div>
  </aside>

  <footer>
      <div class="tBadges">
      <div class="badges"></div>
      <div class="badges"></div>
      <div class="badges"></div>
      <div class="badges"></div>
      <div class="badges"></div>
      <div class="badges"></div>
      <div class="badges"></div>
      <div class="badges"></div>
    </div>

    <div class="info">
      <input class="input">
      <img src="assets/img/pikachu-correndo.gif" />
    </div>
  </footer>
</div>
