<div class="container">


  <header>Let's Plays</header>

  <main></main>

  <aside>
  <div class="divinos">
    <img src="../assets/img/OSM9.gif" class="fire">
    <img src="../assets/img/FKeX.gif" class="ice">
    <img src="../assets/img/9OiJ.gif" class="thunder">
  </div>

    <div class="pokes">
      <div class="poke"> <img src="assets/img/poke-transp-animat.gif">  </div>
      <div class="poke"> <img src="assets/img/poke-transp-animat.gif">  </div>
      <div class="poke"> <img src="assets/img/poke-transp-animat.gif">  </div>
      <div class="poke"> <img src="assets/img/poke-transp-animat.gif">  </div>
      <div class="poke"> <img src="assets/img/poke-transp-animat.gif">  </div>
      <div class="poke"> <img src="assets/img/poke-transp-animat.gif">  </div>
    </div>
  </aside>

  <footer>
    <div class="tBadges">
      <div class="badges">  </div>
      <div class="badges">   </div>
      <div class="badges">   </div>
      <div class="badges">   </div>
      <div class="badges"> </div>
      <div class="badges"> </div>
      <div class="badges">  </div>
      <div class="badges">    </div>
    </div>

    <div class="info">
      <img src="../assets/img/pikachu-correndo.gif">
    </div>
  </footer>

</div>
